CREATE TABLE [dbo].[adminInfo](
	[ID] [int] NOT NULL,
	[core_id] [int] NULL,
	[state] [nvarchar](255) NULL,
	[user_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[clients]    Script Date: 2016/04/11 21:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[ID] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[descriptive] [nvarchar](max) NULL,
	[district_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[coreInfo]    Script Date: 2016/04/11 21:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coreInfo](
	[ID] [int] NOT NULL,
	[iType_id] [int] NULL,
	[client_id] [int] NULL,
	[labour] [int] NULL,
	[cost] [int] NULL,
	[user_id] [int] NULL,
	[iDate] [datetime] NULL,
	[status] [nvarchar](255) NULL,
	[comments] [nvarchar](255) NULL,
	[reamaining] [int] NULL,
	[date_recent_visit] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[districts]    Script Date: 2016/04/11 21:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[ID] [int] NOT NULL,
	[Districts] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eng_detail_intervention]    Script Date: 2016/04/11 21:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eng_detail_intervention](
	[interventionTypes.ID] [int] NOT NULL,
	[interventionTypes.name] [nvarchar](255) NULL,
	[amount_of_labour] [nvarchar](255) NULL,
	[cost_of_materials] [nvarchar](255) NULL,
	[Districts.ID] [int] NOT NULL,
	[Districts] [nvarchar](255) NULL,
	[clients.ID] [int] NOT NULL,
	[clients.name] [nvarchar](255) NULL,
	[descriptive] [nvarchar](max) NULL,
	[clients.district_ID] [int] NULL,
	[coreInfo.ID] [int] NOT NULL,
	[iType_id] [int] NULL,
	[client_id] [int] NULL,
	[labour] [int] NULL,
	[cost] [int] NULL,
	[user_id] [int] NULL,
	[iDate] [datetime] NULL,
	[status] [nvarchar](255) NULL,
	[comments] [nvarchar](255) NULL,
	[reamaining] [int] NULL,
	[date_recent_visit] [datetime] NULL,
	[users.ID] [int] NOT NULL,
	[userName] [nvarchar](255) NULL,
	[loginName] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[users.district_ID] [int] NULL,
	[maxHours] [int] NULL,
	[maxCost] [nvarchar](255) NULL,
	[userType] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eng_list_client]    Script Date: 2016/04/11 21:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eng_list_client](
	[clients.ID] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[descriptive] [nvarchar](max) NULL,
	[district_id] [int] NULL,
	[Districts.ID] [int] NOT NULL,
	[Districts] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[intervention]    Script Date: 2016/04/11 21:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[intervention](
	[clients.ID] [int] NOT NULL,
	[clients.name] [nvarchar](255) NULL,
	[descriptive] [nvarchar](max) NULL,
	[district_id] [int] NULL,
	[interventionTypes.ID] [int] NOT NULL,
	[interventionTypes.name] [nvarchar](255) NULL,
	[amount_of_labour] [nvarchar](255) NULL,
	[cost_of_materials] [nvarchar](255) NULL,
	[coreInfo.ID] [int] NOT NULL,
	[iType_id] [int] NULL,
	[client_id] [int] NULL,
	[labour] [int] NULL,
	[cost] [int] NULL,
	[user_id] [int] NULL,
	[iDate] [datetime] NULL,
	[status] [nvarchar](255) NULL,
	[comments] [nvarchar](255) NULL,
	[reamaining] [int] NULL,
	[date_recent_visit] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[interventionTypes]    Script Date: 2016/04/11 21:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[interventionTypes](
	[ID] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[amount_of_labour] [nvarchar](255) NULL,
	[cost_of_materials] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[qualityInfo]    Script Date: 2016/04/11 21:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qualityInfo](
	[ID] [int] NOT NULL,
	[comments] [nvarchar](max) NULL,
	[remaining] [int] NULL,
	[recent_visit] [datetime] NULL,
	[core_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[query_user]    Script Date: 2016/04/11 21:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[query_user](
	[Districts.ID] [int] NOT NULL,
	[Districts] [nvarchar](255) NULL,
	[users.ID] [int] NOT NULL,
	[userName] [nvarchar](255) NULL,
	[loginName] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[district_ID] [int] NULL,
	[maxHours] [int] NULL,
	[maxCost] [nvarchar](255) NULL,
	[userType] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 2016/04/11 21:37:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[ID] [int] NOT NULL,
	[userName] [nvarchar](255) NULL,
	[loginName] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[district_ID] [int] NULL,
	[maxHours] [int] NULL,
	[maxCost] [nvarchar](255) NULL,
	[userType] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[clients] ([ID], [name], [descriptive], [district_id]) VALUES (1, N'Family of Josiah and Ruth', N'Blue tin shack, underneath wooden bridge near Brady road turnoff from Nelson highway', 1)
INSERT [dbo].[clients] ([ID], [name], [descriptive], [district_id]) VALUES (2, N'Family of Peter', N'Blue tin shack, underneath wooden bridge near Brady road turnoff from Nelson highway', 2)
INSERT [dbo].[clients] ([ID], [name], [descriptive], [district_id]) VALUES (3, N'Family of Helen', N'Blue tin shack, underneath wooden bridge near Brady road turnoff from Nelson highway', 3)
INSERT [dbo].[coreInfo] ([ID], [iType_id], [client_id], [labour], [cost], [user_id], [iDate], [status], [comments], [reamaining], [date_recent_visit]) VALUES (1, 1, 1, 0, 0, 1, CAST(N'2016-04-04 00:00:00.000' AS DateTime), N'Proposed', N'Bootstrap makes front-end web development faster and easier. It''s made for folks of all skill levels, devices of all shapes, and projects of all sizes.', 10, CAST(N'2016-04-11 00:00:00.000' AS DateTime))
INSERT [dbo].[coreInfo] ([ID], [iType_id], [client_id], [labour], [cost], [user_id], [iDate], [status], [comments], [reamaining], [date_recent_visit]) VALUES (2, 2, 1, 0, 0, 1, CAST(N'2016-04-12 00:00:00.000' AS DateTime), N'Approved', N'Bootstrap makes front-end web development faster and easier. It''s made for folks of all skill levels, devices of all shapes, and projects of all sizes.', 20, CAST(N'2016-04-11 00:00:00.000' AS DateTime))
INSERT [dbo].[coreInfo] ([ID], [iType_id], [client_id], [labour], [cost], [user_id], [iDate], [status], [comments], [reamaining], [date_recent_visit]) VALUES (3, 3, 1, 0, 0, 1, CAST(N'2016-04-13 00:00:00.000' AS DateTime), N'Cancelled', N'Bootstrap makes front-end web development faster and easier. It''s made for folks of all skill levels, devices of all shapes, and projects of all sizes.', 30, CAST(N'2016-04-11 00:00:00.000' AS DateTime))
INSERT [dbo].[districts] ([ID], [Districts]) VALUES (1, N'	Urban Indonesia')
INSERT [dbo].[districts] ([ID], [Districts]) VALUES (2, N'	Rural Indonesia')
INSERT [dbo].[districts] ([ID], [Districts]) VALUES (3, N'	Urban Papua New Guinea')
INSERT [dbo].[eng_list_client] ([clients.ID], [name], [descriptive], [district_id], [Districts.ID], [Districts]) VALUES (1, N'Family of Josiah and Ruth', N'Blue tin shack, underneath wooden bridge near Brady road turnoff from Nelson highway', 1, 1, N'	Urban Indonesia')
INSERT [dbo].[eng_list_client] ([clients.ID], [name], [descriptive], [district_id], [Districts.ID], [Districts]) VALUES (2, N'Family of Peter', N'Blue tin shack, underneath wooden bridge near Brady road turnoff from Nelson highway', 2, 2, N'	Rural Indonesia')
INSERT [dbo].[eng_list_client] ([clients.ID], [name], [descriptive], [district_id], [Districts.ID], [Districts]) VALUES (3, N'Family of Helen', N'Blue tin shack, underneath wooden bridge near Brady road turnoff from Nelson highway', 3, 3, N'	Urban Papua New Guinea')
INSERT [dbo].[interventionTypes] ([ID], [name], [amount_of_labour], [cost_of_materials]) VALUES (1, N'Supply and Install Portable Toilet', NULL, NULL)
INSERT [dbo].[interventionTypes] ([ID], [name], [amount_of_labour], [cost_of_materials]) VALUES (2, N'Hepatitis Avoidance Training', NULL, NULL)
INSERT [dbo].[interventionTypes] ([ID], [name], [amount_of_labour], [cost_of_materials]) VALUES (3, N'Supply and Install Storm-proof Home Kit', NULL, NULL)
INSERT [dbo].[query_user] ([Districts.ID], [Districts], [users.ID], [userName], [loginName], [password], [district_ID], [maxHours], [maxCost], [userType]) VALUES (1, N'	Urban Indonesia', 1, N'Tim', N'tim', N'123456', 1, 0, NULL, N'Site Engineer')
INSERT [dbo].[query_user] ([Districts.ID], [Districts], [users.ID], [userName], [loginName], [password], [district_ID], [maxHours], [maxCost], [userType]) VALUES (2, N'	Rural Indonesia', 2, N'John', N'John', N'123456', 2, 0, NULL, N'Site Engineer')
INSERT [dbo].[query_user] ([Districts.ID], [Districts], [users.ID], [userName], [loginName], [password], [district_ID], [maxHours], [maxCost], [userType]) VALUES (3, N'	Urban Papua New Guinea', 3, N'Ricky', N'ricky', N'123456', 3, 0, NULL, N'Site Engineer')
INSERT [dbo].[users] ([ID], [userName], [loginName], [password], [district_ID], [maxHours], [maxCost], [userType]) VALUES (1, N'Tim', N'tim', N'123456', 1, 0, NULL, N'Site Engineer')
INSERT [dbo].[users] ([ID], [userName], [loginName], [password], [district_ID], [maxHours], [maxCost], [userType]) VALUES (2, N'John', N'John', N'123456', 2, 0, NULL, N'Site Engineer')
INSERT [dbo].[users] ([ID], [userName], [loginName], [password], [district_ID], [maxHours], [maxCost], [userType]) VALUES (3, N'Ricky', N'ricky', N'123456', 3, 0, NULL, N'Site Engineer')
ALTER DATABASE [asp] SET  READ_WRITE 
GO
